@charset "UTF-8";

html {
  font-size: 100%;
  background-color: rgb(145, 216, 232);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.item {
  color: #fff;
  border: solid 1px black;
  padding: 7px;
  background-color: red;
  margin: 10px;
}

footer {
  border: 5px solid blue;
  width: 400px;
}

.toi li {
  list-style: none;
  padding-top: 10px;
}

.sousin {
  color: #000;
  font-family: serif;
  background-color: rgb(244, 197, 58);
}
