@charset "utf-8";

/* formatting style
------------------------------*/
*{
	font-style:normal;
	margin:0px;
	padding:0px;
}

body{
	color:#333333;
	background-color:#999999;	
	font-family:sans-serif;
	font-size:75%;
	line-height:1.6;
	background-image:url(images/bg.gif);
	background-repeat:repeat;
}
hr{
	display:none;
}
/* link styles
------------------------------*/
a img{
	border-style:none;
}
a:link{
	color:#333333;
	text-decoration:underline;
}

a:visited{
	color:#999999;
	text-decoration:underline;
}
a:hover{
	color:#000000;
	text-decoration:none;
}
a:active{
	text-decoration: none;
	position:relative;
	left:1px;
	top:1px;
}

/* basic layout
------------------------------*/
#wrapper{
	width:858px;
	background-color:#ffffff;
	margin:0px auto;
	border-right: 1px solid #666666;
	border-left: 1px solid #666666;
}


/* header styles
------------------------------*/
#header{
	background-image:url(images/header01.jpg);
	background-repeat:no-repeat;
	height: 255px;
	border-top:3px solid #FF6600;
	position:relative;
}
#header #logo {
	position:absolute;
	left:15px;
	top:15px;
}

#header ul {
	width: 858px;
	position:absolute;
	left:0px;
	top:200px;
	background-color:#FFFFFF;

}

#header ul li {
	list-style:none;
	float:left;

}
#header ul li a{
	color:#666666; 　　　　　　/*暗めの灰色*/
	text-decoration:none;
	line-height:2.5em;
	height:2.5em;
	width:170px;
	display:block;
	text-align: center;       /*alignは揃えるという意味*/
	background-color: #CCCCCC;
	border-top: 3px solid #FF6600;
	border-bottom:3px double #999999;
	border-left:2px solid #FFFFFF;
}
#header ul li#nHome a{
	border-left-style: none;
}
/* main styles
------------------------------*/
#main{
	padding:15px;
	float:right;
	width:573px;
	margin-bottom:20px;
}
#main h2{
	margin-bottom: 15px;
}
#main p{
	line-height: 1.8;
	margin-bottom:1em;
}
#main dl#news dt{
	background-image:url(images/bullet2.gif); 
	background-repeat: no-repeat;
	background-position: left center;
	margin:0px 0px 10px;
	clear:left;
	float:left;
	width: 5em;
	padding-left: 15px;
	font-weight:bold;
}
#main dl#news dd{
	margin: 0px 0px 10px 6em;
}


/* sidebar styles
------------------------------*/
#sidebar{
	padding:15px;
	float:left;
	width:225px;
	margin-bottom:20px;	
}
#sidebar h2{
	margin-bottom:15px;
}
#sidebar dl dt a{
	padding: 5px;
	float:left;
	margin-right: 10px;
	margin-bottom: 10px;
	border:1px solid #CCCCCC;
}
#sidebar dl dt a:hover{
	border:1px solid #CCCCCC;
}
#sidebar dl dt{
	clear:both;
}
#sidebar dl dd{
	margin-bottom: 10px;
}

/* footer styles
------------------------------*/
#footer{
	padding:15px;
	clear:both;
	color:#FFFFFF;
	background-color:#333333;
}

#footer ul li a{
	color:#CCCCCC;
}
#footer ul li a{
	color:#FFFFFF;
	text-decoration: none;
}
#footer p a {
	color: #CCCCCC;
}

#footer p a :hover{
	color: #CCCCCC;
	text-decoration:
}
#footer ul li{
	display: inline;
	list-style:none;
	margin-right:15px;
}
#footer p {
	margin: 0px;
	float:right;
}